@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.slider-content{
    position: relative;
    width:100%;
}

.slider-content .slider-inner h5 {
    font-size:45px;
    color: black;
    text-transform:uppercase;
    font-weight: bold;
    margin: 250px 0 0 0;
    font-family: 'Roboto', sans-serif;
}