@mixin base-button{
  padding: 8px;
  border-radius: 6px;
  background: var(--backgroundColor);

}

.base-button{
  @include base-button;
  box-shadow:  5px 5px 10px #ccccd0,
              -5px -5px 10px #ffffff;
  color: var(--fontColor);
}

.base-button:hover{
  color: var(--fontColorBright);
}

.base-button-active{
  @include base-button;
  box-shadow: inset 5px 5px 10px #ccccd0,
              inset -5px -5px 10px #ffffff;
  color: var(--fontColorBright);
}