.body {
    text-align: center;
    background-color: white;
}

.header {
    text-align: center;
    color: black;
    font-size: xxx-large;
    padding: 10px;
}


.grid {
    width: 602px;
    height: 602px;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/background.jpg);
}

.grid div {
    width: 40px;
    height: 40px;
}

.shooter {
    background-image: url(../images/monkey.gif);
    background-size: 43px;
}

.invader {
    background-image: url(../images/Space_Invaders_Alien-96x96.png);
    background-size: contain;
}

.kill {
    background-image: url(../images/ezgif-2-cdfbabd59ff2.jpg);
    background-size: contain;
}

.laser {
    background-image: url(../images/banana.png);
    background-size: contain;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}