body{
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.display-none{
  display: none;
}



.content{
 display: grid;
  justify-content: center;
  background-color: var(--backgroundColor);
  min-height: 90vh;
  color: var(--fontColor);
}

.content-inner{
  margin: 40px 0;
  padding: 40px;
  width: 80vw;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

}

.customized-button{

  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #212529;
  font-size: 16px;
  border: 1px solid var(--fontColor);
  height: var(--button-height);
}

.customized-button:hover{
  color: var(--backgroundColor);
  background-color: var(--fontColor) ;
}