.menu{
  height: 100px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, auto) ;
  justify-content: end;
  align-items: center;

}

.menu a{

  //color: var(--fontColor);
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
}