:root {
  --backgroundColor: #ffffff;
  --fontColor: #212529;
  --fontColorBright: #ff1e3d;
  --button-height: 40px;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.display-none {
  display: none;
}

.content {
  display: grid;
  justify-content: center;
  background-color: var(--backgroundColor);
  min-height: 90vh;
  color: var(--fontColor);
}

.content-inner {
  margin: 40px 0;
  padding: 40px;
  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.customized-button {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #212529;
  font-size: 16px;
  border: 1px solid var(--fontColor);
  height: var(--button-height);
}

.customized-button:hover {
  color: var(--backgroundColor);
  background-color: var(--fontColor);
}

.button-active {
  color: var(--backgroundColor);
  background-color: var(--fontColor);
}

h3, button {
  font-family: Verdana, Geneva, sans-serif;
}

#fun-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-auto-flow: row;
}

.left-menu {
  display: grid;
  grid-template-rows: repeat(6, 60px);
  grid-template-columns: 100%;
  justify-items: end;
  grid-auto-flow: row;
  padding-right: 40px;
}

.fun-content-outer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto calc(var(--button-height) + 20px);
  grid-auto-flow: row;
}
.fun-content-outer #fun-title {
  font-size: 30px;
  line-height: 1.5em;
  opacity: 0.7;
}
.fun-content-outer h3 {
  font-size: 24px;
  line-height: 2.8rem;
}
.fun-content-outer .show-buttons {
  align-self: end;
  justify-self: center;
}
.fun-content-outer .newElement {
  margin: 0;
}
.fun-content-outer .catFacts {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  grid-auto-flow: row;
}
.fun-content-outer .catFacts .catImage {
  height: 400px;
  width: auto;
}
.fun-content-outer .jokes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 400px;
}
.fun-content-outer .jokes h3 {
  font-size: 26px;
  line-height: 4rem;
}
.fun-content-outer .jokes h3:nth-child(3) {
  padding-left: 40px;
}
.fun-content-outer .jokes .jokes-img {
  align-self: center;
  height: 300px;
  grid-column: 1/2;
  grid-row: 3/4;
}
.fun-content-outer .activity {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto 400px;
}
.fun-content-outer .activity h4 {
  font-size: 24px;
  line-height: 3rem;
}
.fun-content-outer .activity h5 {
  font-size: 20px;
  line-height: 2rem;
}
.fun-content-outer .activity .activity-img {
  align-self: center;
  height: 300px;
  grid-column: 1/2;
  grid-row: 5/6;
}
.fun-content-outer .memes img {
  height: 500px;
}
.fun-content-outer .dogFotos .dogImage {
  height: 500px;
}
.fun-content-outer .quotes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px auto;
}
.fun-content-outer .quotes h3 {
  font-style: italic;
}
.fun-content-outer .quotes .quotesAuthor {
  text-align: center;
  padding-right: 20%;
  font-size: 24px;
}
.fun-content-outer .quotes .quotes-img {
  align-self: center;
  justify-self: center;
  height: 300px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.fun-content-outer .quotes .quote {
  align-self: center;
}

#museums-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30% 70%;
  grid-auto-flow: row;
}
#museums-container #museumSelection {
  padding-right: 20px;
}
#museums-container #museumSelection input {
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #212529;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  height: var(--button-height);
  width: 100%;
}
#museums-container #museumSelection ::placeholder {
  opacity: 0.6;
}
#museums-container #museumSelection #filteredOptions {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: var(--backgroundColor);
  z-index: 10;
  position: relative;
}
#museums-container #museumSelection #filteredOptions p {
  cursor: pointer;
  padding: 0 10px;
}
#museums-container #museumSelection #filteredOptions p:hover {
  background-color: var(--fontColor);
  color: var(--backgroundColor);
}
#museums-container .museums-content {
  padding-left: 20px;
}
#museums-container .museums-content #museums-description {
  font-size: 18px;
  line-height: 2em;
}
#museums-container .museums-content #museum-title {
  font-size: 30px;
  margin-bottom: 30px;
}
#museums-container .museums-content #museum-img {
  height: 300px;
}
#museums-container .museums-content #museum-city, #museums-container .museums-content #museum-country {
  font-size: 24px;
  margin-bottom: 30px;
  opacity: 0.7;
}
#museums-container .museums-content #museum-description {
  font-size: 20px;
  margin: 30px 0;
  line-height: 1.5em;
}
#museums-container .museums-content a {
  padding: 0.75rem 0.95rem;
}

@media only screen and (max-width: 1200px) {
  .content-inner {
    width: 90vw;
    padding: 20px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 900px) {
  #fun-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 80%;
    grid-auto-flow: row;
  }
  #fun-container .left-menu {
    grid-template-rows: 90px;
    grid-template-columns: repeat(6, auto);
    padding-right: 0px;
  }
  #fun-container .fun-content-outer #fun-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  #fun-container .fun-content-outer h3 {
    font-size: 22px;
    text-align: center;
  }
  #fun-container .catImage, #fun-container .jokes-img, #fun-container .activity-img {
    justify-self: center;
  }
}
@media only screen and (min-width: 0px) and (max-width: 649px) {
  #fun-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 80%;
    grid-auto-flow: row;
    padding: 20px;
  }
  #fun-container .left-menu {
    grid-template-rows: 60px 60px;
    grid-template-columns: repeat(3, auto);
    padding-right: 0px;
  }
  #fun-container .left-menu .left-menu-button {
    justify-self: center;
  }
  #fun-container .fun-content-outer #fun-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  #fun-container .fun-content-outer h3 {
    font-size: 20px;
    text-align: center;
    line-height: 2.2rem;
  }
  #fun-container .catImage, #fun-container .jokes-img, #fun-container .activity-img, #fun-container .memes img {
    justify-self: center;
    height: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  #museums-container {
    display: grid;
    grid-template-rows: 90px auto;
    grid-template-columns: 100%;
    height: min-content;
  }
  #museums-container #museums-container .museums-content #museum-title {
    font-size: 26px;
  }
  #museums-container .museums-content #museum-city, #museums-container .museums-content #museum-country {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  #museums-container .museums-content #museum-img {
    height: auto;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
